$success: #7952b3;

@import "bootstrap/scss/bootstrap.scss";


body {
  font-family: 'Open Sans', sans-serif;
}
.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: '#ADB5BD';
  opacity: 0.5; /* Firefox */
}

.otp::placeholder {
  text-align: center;
}